@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbf8cc;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #03045e;
  padding: 0 3rem;
  height: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.header-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-item {
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
  color: #03045e;
}

.header-item:hover {
  opacity: 0.7;
}

.header-icons {
  display: flex;
  gap: 1.5rem;
}

.header-icons img {
  cursor: pointer;
}

#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 5rem);
  padding: 0 3rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #03045e;
}

.home-sub-title {
  font-size: 1.75rem;
  font-weight: 500;
}

.home-title {
  font-size: 6.25rem;
  font-weight: 800;
  line-height: 116px;
}

.resume-btn {
  position: relative;
  margin-top: 1rem;
}

.resume-btn button {
  position: relative;
  height: 3.25rem;
  width: 9rem;
  background-color: transparent;
  border: 1px solid #474306;
  color: #474306;
  border-radius: 0.375rem;
  z-index: 10;
  cursor: pointer;
}

.resume-btn div {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 3.25rem;
  width: 9rem;
  background-color: #f5ee84;
  border-radius: 0.375rem;
  transition: 0.3s;
  z-index: 1;
}

.home-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
}

.home-picture-content {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.home-picture img {
  width: 500px;
  object-fit: contain;
  mask: url("./assets/mask.svg");
  mask-mode: alpha;
  mask-repeat: no-repeat;
}

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.section-title {
  font-size: 6.25rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #f7f197;
}

.about-content {
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 900px;
}

#work {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.work-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #03045e;
}

.work-item-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.work-item-description {
  padding-left: 1.15rem;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 600px;
}

#contact {
  min-height: 100vh;
  padding: 0 3rem;
}

.contact-content {
  display: flex;
  gap: 1rem;
}

.contact-content img {
  width: 440px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-item {
  text-decoration: none;
  font-size: 1.125rem;
  color: #03045e;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-item img {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
